@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --image-url-1: url("/img/slider/1.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html
{
   font-size: 10px;
}

body {
  color: #000;
}

textarea, input, input:hover, input:focus, input:active, input[type="text"], input[type="text"]:focus, input[type="text"]:hover, input[type="text"]:active, input[type="email"], input[type="email"]:focus, input[type="email"]:hover, input[type="email"]:active, button, button[type="submit"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  outline: 0px !important;
}

.yarl__slide_captions_container {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.ReactGridGallery_tile .ReactGridGallery_tile-viewport img {
  transform: scale(1.0);
  transition: all .2s ease-in-out;;
}

.ReactGridGallery_tile .ReactGridGallery_tile-viewport img:hover {
  transform: scale(1.2);
  transition: all .2s ease-in-out;;
}

.ReactGridGallery_custom-overlay {
  z-index: 1;
}